<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Zoo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<form action="/" method="post">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Animal</th>
        <th scope="col">Health</th>
        <th scope="col">Dead</th>
        <th scope="col">Walk</th>
    </tr>
    </thead>
    <tbody>
    {% for key,animal in animals %}
    <tr>
        <td>{{ animal.getName() }}</td>
        <td>{{ animal.health }}</td>
        <td>{{ animal.isDead ? 'Yes':'No' }}</td>
        <td>{{ animal.walk ? 'Yes':'No' }}</td>
        <input type="hidden" name="name[]" value="{{ animal.getName() }}">
        <input type="hidden" name="health[]" value="{{ animal.health }}">
        <input type="hidden" name="dead[]" value="{{ animal.isDead ? 1 : 0 }}">
        <input type="hidden" name="walk[]" value="{{ animal.walk ? 1 : 0 }}">
    </tr>
    {% endfor %}
    </tbody>
</table>
    <input type="hidden" name="zoo" value="1">
    <button type="submit" name="time" class="btn btn-primary">Run Time</button>
    <button type="submit" name="feed" class="btn btn-secondary">Feed Zoo</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>